<h1 class="app-name">Menu</h1>

<div class="scrollable"> 
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
      <a class="list-group-item" href="#/patient">Patient <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/Infirmier">Infirmier <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/Calendrier">Calendrier <i class="fa fa-chevron-right pull-right"></i></a> 
      <a class="list-group-item" href="#/Acceul">Acceul <i class="fa fa-chevron-right pull-right"></i></a>
    </div>
  </div>
</div>